language: node_js
node_js: 
  - 13

services:
  - docker 

# Pre-testing installs 
install:
  - echo "nothing needs to be installed"

# Scripts to be run such as tests 
before_script:
  - echo "no tests"

script: 
  - docker --version # print the docker version for logging
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker tag udagram-api-feed akem123/udagram-api-feed:latest

  - docker build -t udagram-api-user ./udagram-api-user
  - docker tag udagram-api-user akem123/udagram-api-user:latest

  - docker build -t udagram-frontend ./udagram-frontend
  - docker tag udagram-frontend akem123/udagram-frontend:latest

  - docker build -t reverseproxy ./udagram-reverseproxy
  - docker tag reverseproxy akem123/reverseproxy:latest

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD" docker.io
  - docker push akem123/udagram-api-feed:latest
  - docker push akem123/udagram-api-user:latest
  - docker push akem123/udagram-frontend:local
  - docker push akem123/reverseproxy:latest